.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.expanding {
  flex: 1;
  min-width: 0;
  background-color: var(--mooyo-gray);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  color: black;
  box-sizing: border-box;
  min-height: 400px;
  transition: flex 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.expanding:hover {
  flex: 2;
}

.main {
  margin-left: 2rem;
}

.card-aanbod {
  border-bottom: 1px double gray;
}

/* --- Details Animation Section --- */
.details {
  opacity: 0;
  max-height: 0;
  transform: translateY(20px);
  overflow: hidden;
  transition:
    opacity 0.5s ease-out,
    transform 0.4s ease-out,
    max-height 0.6s ease-in-out;
  visibility: hidden;
}

.expanding:hover .details {
  opacity: 1;
  visibility: visible;
  max-height: 2000px;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.seeMore {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

.expanding:hover .seeMore {
  opacity: 0;
  max-height: 0;
  margin: 0;
  overflow: hidden;
}
