---
import arrowDown from '../assets/arrow-down.svg?raw';
const { title } = Astro.props;

interface Props {
	title: string;
}

---


<article class="dropdown-container">
    <div class="header">
        <p>{title}</p>
        <div class="arrow-icon">
            <Fragment set:html={arrowDown} />
        </div>
    </div>
    <div class="hidden-content">
        <div class="content-wrapper">
                <slot/>
        </div>
    </div>
</article>

<script>
    const dropdowns = document.querySelectorAll('.dropdown-container');
    dropdowns.forEach(dropdown => {
        const header = dropdown.querySelector('.header');
        if (header) {
            header.addEventListener('click', () => {
                dropdown.classList.toggle('is-open');
            });
        }
    });
</script>

<style>
    article {
        margin: 2rem auto;
        max-width: 95vw;
        color: white;
        background-color: var(--mooyo-red);
        border-radius: 1rem;
    }
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        cursor: pointer;
        user-select: none;
        position: relative;
        z-index: 2;
    }

    .dropdown-container.is-open .header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .arrow-icon {
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
    }

    .dropdown-container.is-open .arrow-icon {
        transform: rotate(180deg);
    }

    .hidden-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-out;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        overflow: hidden;
    }

    .dropdown-container.is-open .hidden-content {
        grid-template-rows: 1fr;
        border: 1px solid var(--mooyo-gray);
        border-top: none;
    }

    .content-wrapper {
        min-height: 0;

    }
</style>