---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import zon from "../../../assets/zon.jpg";
import { getLangFromUrl, getStaticPaths, useTranslations } from "@src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export { getStaticPaths };

---

<Layout title="Wees welkome">
     <section class="welcome back-red text-white center">
    <div class="container">
      <Image src={zon} alt="tekening" class="img" width={450} height={450} />
      <div>
        <h2 class="text-align-center">{t("index.welcome.title")}</h2>
        <p set:html={t("index.welcome.text")} />
        <p class="content-end">Francis Weller</p>
      </div>
    </div>
  </section>
  <section class="s3 back-gray text-align-center center">
    <div class="col3 text-black text-align-justify">
      <div>
        <p class="text-align-center text-red bold">
          {t("index.s3.col1.title")}
        </p>
        <div class="regular-font">
          <p>{t("index.s3.col1.text1")}</p>
          <p>{t("index.s3.col1.text2")}</p>
          <p>{t("index.s3.col1.text3")}</p>
        </div>
      </div>
      <div>
        <p class="text-red text-align-center bold">
          {t("index.s3.col2.title")}
        </p>
        <div class="regular-font">
          <p>{t("index.s3.col2.text1")}</p>
          <p>{t("index.s3.col2.text2")}</p>
          <p>{t("index.s3.col2.text3")}</p>
        </div>
      </div>

      <div>
        <p class="text-red text-align-center bold">
          {t("index.s3.col3.title")}
        </p>
        <div class="regular-font">
          <p>{t("index.s3.col3.text1")}</p>
          <p>{t("index.s3.col3.text2")}</p>
        </div>
      </div>
    </div>
  </section>
</Layout>


<style>
  .welcome .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70rem;
    column-gap: 2rem;
  }
</style>